{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="about-heading">About Me</h1>
    <p class="highlight-box">I am Sujal Karale, a dedicated and passionate developer with a strong interest in both web and mobile app development. My journey in the world of technology has been fueled by curiosity, creativity, and a commitment to building innovative digital solutions.  

        I have a solid foundation in web technologies, including HTML, CSS, and JavaScript, which allows me to design and develop dynamic, responsive, and user-friendly websites. My expertise in frontend development ensures that the user experience is seamless, while my knowledge of backend technologies helps in creating efficient and scalable web applications.  
        
        Beyond web development, I specialize in Android application development using Kotlin. My proficiency in Kotlin enables me to build robust, high-performance, and feature-rich mobile applications** that align with modern industry standards. I have experience working with Firebase, Jetpack Compose, and RESTful APIs, which enhances the functionality and interactivity of the apps I create.  
        
        I am constantly striving to improve my skills by staying updated with the latest technologies, frameworks, and industry trends. My goal is to leverage my technical expertise to develop high-quality, impactful digital products that solve real-world problems. With a strong focus on innovation and efficiency, I aim to make meaningful contributions to the tech industry. </p>
</div>
{% endblock %}