{% extends "base.html" %}
{% block title %}Home - Portfolio{% endblock %}
{% block content %}
<div >
    <h1>Welcome to My Portfolio</h1>
    <p><i>Currently Studying CSE AIML in RCOEM Nagpur.</i> </p>
    <p>I am an Android & Web Developer passionate about building impactful products.</p> 
    <hr>
    <h2><u>Skills : </u></h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>Java</li>
        <li>Android</li>
    </ul>

    <h2><u>Education : </u></h2>
    <ul>
        <li>10th - 82.1%</li>
        <li>12th - 72.5%</li>
        <li>Currently Studying CSE AIML in RCOEM Nagpur.</li>
    </ul>
</div>
{% endblock %}
